/**
 *  {{> license }}
 *  {{pascalCase name}} - Container
 */

import {
    Card,
    Row,
    Col,
    Typography,
    Button,
    Modal,
    InputNumber,
    Checkbox,
    Radio,
    Input,
    Form,
    Tooltip,
    Popconfirm,
    Space,
    Table as AntTable
} from 'antd';
import React from 'react';
import {useEffect, useState} from 'react';
import type {ReactElement} from 'react';
import { useRouter } from 'next/router';
import { CrudMode } from "@/utils/type/crud-types";
import useApi from '@/hooks/api/use-api';
{{!-- import { APP_NAME } from 'src/environments';
import type { NextPageWithLayout } from 'src/pages/_app'; --}}

{{!-- import Content from './{{kebabCase name}}.content'; --}}
import type { {{pascalCase name}}CrudContentProps, {{pascalCase name}}CrudContainerProps, {{pascalCase name}}CrudContentForm } from './index.model';

const {{pascalCase name}}CrudContainer = ( props: {{pascalCase name}}CrudContainerProps ): ReactElement => {
  /** Hook section */

    const Router = useRouter();
    const [ mode, setMode ] = useState<CrudMode>('add');
    const [ antdForm ] = Form.useForm<{{pascalCase name}}CrudContentForm>();
    const [ id, setId ] = useState<number>(-1);

     //** Hook for call api Example
    // const { data: stocksData, loading: loadingStocks, error: stocksError, execute: fetchStocks, refetch } = 
    // useApi<IGetActiveStockForEIpoResultBaseOutput, StockApiStockGetActiveStockForEIpoPostRequest>(
    //     stockapi, stockapi.stockGetActiveStockForEIpoPost,
    // );
    useEffect(() => {
        if(Router.isReady) {
            switch(Router.route){
                case '/{{name}}/add': {
                    setMode('add'); 
                    break
                };
                case '/{{name}}/edit/[id]': {
                    setMode('edit'); 
                    antdForm.setFieldsValue({});
                    setIdFromPath();
                    break
                };
                case '/{{name}}/view/[id]': {
                    setMode('view'); 
                    setIdFromPath();
                    break;
                }
                default: setMode('add');
            }
        }
    }, [ Router.isReady, Router.route ]);

    /** Functionality section */

    const setIdFromPath = () =>{
        const { id } = Router.query as { id: string; };
        const _id = Number.parseInt(id);
        if(_id && !Number.isNaN(_id)) {
            setId(_id);
        }
    }

    const onSubmitForm = (value: {{pascalCase name}}CrudContentForm) =>{

    }


    const onClickBack = () =>{
        Router.back();
    }
  

    const contentProps: {{pascalCase name}}CrudContentProps = {
        mode,
        onSubmitForm,
        onClickBack
    };

  return (
     <Row gutter={[ 8, 16 ]}>
        <Col span={24}>
            <Card  
                className={'shadow-effect'} 
                title={<Typography.Title type={'secondary'} level={3}>test</Typography.Title>}
            >
                <Form
                    onFinish={onSubmitForm}
                    layout={'vertical'}
                    form={antdForm}
                >
                    
                </Form>
            </Card>
        </Col>
    </Row>
  );
}

{{!-- {{#if (isEquals category "LOGIN")}}
{{pascalCase name}}Container.getLayout = (page) => (
  <Layout>
    <LayoutBody>{ page }</LayoutBody>
  </Layout>
);
{{/if}} --}}

{{!-- {{pascalCase name}}Container.getNextHeadProps = {
  title: `${ APP_NAME } | {{pascalCase name}}`,
  description: '{{pascalCase name}}'
} --}}

export default {{pascalCase name}}CrudContainer;